<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @role_in_company.name %>
</p>

<p>
  <b>Company:</b>
  <%= @role_in_company.company_id %>
</p>


<%= link_to 'Edit', edit_role_in_company_path(@role_in_company) %> |
<%= link_to 'Back', role_in_companies_path %>
