<ul class="nav nav-list">
  <li class="nav-header">Administration</li>
  <li><%= link_to icon_("home") + t("activerecord.models.company.other"), companies_path %></li>
  <li><%= link_to icon_("group") + t("activerecord.models.department.other"), departments_path %></li>
  <li><%= link_to icon_("bullhorn") + t("activerecord.models.function.other"), functions_path %></li>
  <li><%= link_to icon_("tags") + t("activerecord.models.role_in_company.other"), roles_in_company_path %></li>

  <li><%= link_to icon_("user") + t("activerecord.models.user.other"), admin_users_path, class: "text-success" %></li>

  <li><%= link_to(icon_("cogs") + t("activerecord.models.role.other"), roles_path) if admin? %></li>

  <li><%= link_to icons(["user", "resize-horizontal", "user"]) + t("activerecord.models.substitution.other"), substitutions_path %></li>

  <li><%= link_to(icons(["user", "resize-horizontal", "home"]) + t("activerecord.models.employment.other"), employments_path) if admin? %></li>

  <li><%= link_to icons(["user", "resize-horizontal", "group"]) + t("activerecord.models.department_affiliation.other"),
                  department_affiliations_path %></li>
  <li><%= link_to icons(["user", "resize-horizontal", "bullhorn"]) + t("activerecord.models.user_function_assignment.other"),
                  user_function_assignments_path %></li>
  <li><%= link_to icons(["user", "resize-horizontal", "tags"]) + t("activerecord.models.user_role_in_company_assignment.other"),
                  user_role_in_company_assignments_path %></li>
  <li><%= link_to icon_("gift") + t("activerecord.models.news.other"),
                  news_index_path %></li>

</ul>
