<%- model_class = DepartmentAffiliation -%>
<%= bootstrap_error(@department_affiliation, model_class ) %>

<%= simple_form_for @department_affiliation, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :user, :collection => User.in_company(current_company.id) %>
  <%= f.association :department, :collection => Department.where(:company_id => current_company.id) %>
  <%= company_field(@department_affiliation, f) %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                department_affiliations_path, :class => 'btn' %>
  </div>
<% end %>
