<%- model_class = DepartmentAffiliation -%>
<%= bootstrap_error(@department_affiliation, model_class ) %>

<%= simple_form_for @department_affiliation, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :user %>
  <%= f.association :department %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                department_affiliations_path, :class => 'btn' %>
  </div>
<% end %>
