<%- model_class = Note -%>
<%= bootstrap_error(@note, model_class ) %>

<%= simple_form_for @note, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= company_field(@note, f) %>
  <%= f.input :duration %>
  <%= f.input :location, input_html: {class: "input-xxlarge"}%>
  <%= f.input :medium %>
  <%= f.input :archiving, input_html: {class: "input-xxlarge"} %>

  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#description" data-toggle="tab">*<%= model_class.human_attribute_name(:description) %></a></li>
    <li><a href="#business_process_note_assignments" data-toggle="tab"><%= t("activerecord.models.business_process_note_assignment.other") %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active well" id="description">
      <%= f.input_field :description, :as => :textile_editor, class: :broad %>
    </div>       
    <div class="tab-pane well" id="business_process_note_assignments">
      <%= f.simple_fields_for :business_process_note_assignments do |bpna| %>
        <% render 'business_process_note_assignment_fields', :f => bpna %>
      <% end %>
      <div class="links">
        <%= link_to_add_association t("helpers.add_assignment"), f, :business_process_note_assignments,
            :class => "controls btn btn-small btn-info" %>
      </div>
    </div> 
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                notes_path, :class => 'btn' %>
  </div>

  <% content_for :javascript do %>
    <%= textile_editor_initialize %>
  <% end %>
<% end %>
