<%- model_class = Note -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:controlled_by) %></th>
      <th><%= model_class.human_attribute_name(:released_by) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.name, note_path(note) %></td>
        <td><%=l note.created_at %></td>
        <td><%= note.controlled_by.name if note.controlled_by %></td>
        <td><%= note.released_by.name if note.released_by %></td>
        <td>
          <%= link_to t('.edit', :default => icon("edit")),
                      edit_note_path(note), :class => 'btn btn-mini' if can? :edit, note %>
          <%= link_to t('.destroy', :default => icon("trash-o")),
                      note_path(note),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' if can? :delete, note %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new"), :model => model_class.model_name.human),
            new_note_path,
            :class => 'btn btn-primary' if can? :new, Note %>
<%= render "shared/datatables_helper" %>