<%- model_class = DocumentProcessStepAssignment -%>
<%= bootstrap_error(@document_process_step_assignment, model_class ) %>

<%= simple_form_for @document_process_step_assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :document_id, :collection => Document.where(:company_id => current_company.id) %>
  <%= f.input :process_step_id, :collection => ProcessStep.where(:company_id => current_company.id) %>
  <%= company_field(@document_process_step_assignment, f) %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                document_process_step_assignments_path, :class => 'btn' %>
  </div>
<% end %>
