<%- model_class = DocumentProcessStepAssignment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:document_id) %>:</strong></dt>
  <dd><%= @document_process_step_assignment.document.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:process_step_id) %>:</strong></dt>
  <dd><%= @document_process_step_assignment.process_step.title %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              document_process_step_assignments_path, :class => 'btn' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_document_process_step_assignment_path(@document_process_step_assignment), 
              :class => 'btn' if can? :edit, @document_process_step_assignment %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              document_process_step_assignment_path(@document_process_step_assignment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
              :class => 'btn btn-danger' if can? :delete, @document_process_step_assignment %>
</div>
