<%- model_class = BusinessProcessDepartmentAssignment -%>
<%= bootstrap_error(@business_process_department_assignment, model_class ) %>

<%= simple_form_for @business_process_department_assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :business_process, :collection => BusinessProcess.where(:company_id => current_company.id) %>
  <%= f.association :department, :collection => Department.where(:company_id => current_company.id) %>
  <%= company_field(@business_process_department_assignment, f) %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                business_process_department_assignments_path, :class => 'btn' %>
  </div>
<% end %>
