<%- model_class = SequenceFlow -%>
<%= bootstrap_error(@sequence_flow, model_class ) %>

<%= simple_form_for @sequence_flow, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= company_field(@sequence_flow, f) %>
  <%= f.input :source_id, :collection => ProcessStep.where(:company_id => current_company.id) %>
  <%= f.input :target_id, :collection => ProcessStep.where(:company_id => current_company.id) %>
  <%= f.input :flow_object_id, :collection => FlowObject.where(:flow_object_class => "Sequence Flow") %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sequence_flows_path, :class => 'btn' %>
  </div>
<% end %>
