<%- model_class = SequenceFlow -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @sequence_flow.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:source_id) %>:</strong></dt>
  <dd><%= @sequence_flow.source.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:target_id) %>:</strong></dt>
  <dd><%= @sequence_flow.target.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:flow_object_id) %>:</strong></dt>
  <dd><%= @sequence_flow.flow_object.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sequence_flows_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sequence_flow_path(@sequence_flow), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sequence_flow_path(@sequence_flow),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
