<%- model_class = Function -%>
<%= bootstrap_error(@function, model_class ) %>

<%= simple_form_for @function, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.association :company %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                functions_path, :class => 'btn' %>
  </div>
<% end %>
