<%- model_class = Function -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @function.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:controlled_by) %>:</strong></dt>
  <dd><%= @function.controlled_by.name if @function.controlled_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:released_by) %>:</strong></dt>
  <dd><%= @function.released_by.name if @function.released_by %></dd>
</dl>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#description" data-toggle="tab"><%= model_class.human_attribute_name(:description) %></a></li>
  <li><a href="#tasks" data-toggle="tab"><%= model_class.human_attribute_name(:tasks) %></a></li>
  <li><a href="#responsibilities" data-toggle="tab"><%= model_class.human_attribute_name(:responsibilities) %></a></li>
  <li><a href="#skills" data-toggle="tab"><%= model_class.human_attribute_name(:skills) %></a></li>
  <li><a href="#goals" data-toggle="tab"><%= model_class.human_attribute_name(:goals) %></a></li>
  <li><a href="#authorities" data-toggle="tab"><%= model_class.human_attribute_name(:authorities) %></a></li>
  <li><a href="#comments" data-toggle="tab"><%= model_class.human_attribute_name(:comments) %></a></li>
  <li><a href="#users" data-toggle="tab"><%= t("activerecord.models.user.other") %></a></li>
  <li><a href="#versions" data-toggle="tab"><%= t("helpers.versions") %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active well" id="description">
    <%= textile(@function.description) %>
  </div>

  <div class="tab-pane well" id="tasks">
    <%= textile(@function.tasks) %>
  </div>

  <div class="tab-pane well" id="responsibilities">
    <%= textile(@function.responsibilities) %>
  </div>

  <div class="tab-pane well" id="skills">
    <%= textile(@function.skills) %>
  </div>

  <div class="tab-pane well" id="goals">
    <%= textile(@function.goals) %>
  </div>

  <div class="tab-pane well" id="authorities">
    <%= textile(@function.authorities) %>
  </div>

  <div class="tab-pane well" id="comments">
    <%= textile(@function.comments) %>
  </div>

  <div class="tab-pane well" id="users">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%= model_class.human_attribute_name(:updated_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @function.users.each do |user| %>
          <tr>
            <td><%= link_to user.name, admin_user_path(user) %></td>
            <td><%=l user.created_at %></td>
            <td><%=l user.updated_at %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_admin_user_path(user), :class => 'btn btn-mini' if can? :edit, user %>
              <%= link_to t('.destroy', :default => icon("trash-o")),
                          admin_user_path(user),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, user %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= versioning_helper(@function) %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              functions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_function_path(@function), :class => 'btn' if can? :edit, @function %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              function_path(@function),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :delete, @function %>
</div>
