<%- model_class = UserFunctionAssignment -%>
<%= bootstrap_error(@user_function_assignment, model_class ) %>

<%= simple_form_for @user_function_assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :user %>
  <%= f.association :function %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_function_assignments_path, :class => 'btn' %>
  </div>
<% end %>
