<%- model_class = Substitution -%>
<%= bootstrap_error(@substitution, model_class ) %>

<%= simple_form_for @substitution, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :user, :collection => User.in_company(current_company.id) %>
  <%= f.association :deputy, :collection => User.in_company(current_company.id) %>
  <%= company_field(@substitution, f) %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                substitutions_path, :class => 'btn' %>
  </div>
<% end %>
