<h1>Listing substitutions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Deputy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @substitutions.each do |substitution| %>
  <tr>
    <td><%= substitution.user_id %></td>
    <td><%= substitution.deputy_id %></td>
    <td><%= link_to 'Show', substitution %></td>
    <td><%= link_to 'Edit', edit_substitution_path(substitution) %></td>
    <td><%= link_to 'Destroy', substitution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Substitution', new_substitution_path %>
