<%- model_class = ProcessIndicator -%>
<%= bootstrap_error(@process_indicator, model_class ) %>

<%= simple_form_for @process_indicator, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= company_field(@process_indicator, f) %>
  <%= f.input :metering_point %>
  <%= f.input :value, input_html: {class: "input-xxlarge"} %>
  <%= f.input :unit %>
  <%= f.input :nominal_value, input_html: {class: "input-xxlarge"} %>
  <%= f.input :operator, :url => autocomplete_user_lastname_process_indicators_path, 
              :as => :autocomplete, input_html: {'data-delimiter' => ',', :multiple => true} %>

  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#description" data-toggle="tab">*<%= model_class.human_attribute_name(:description) %></a></li>
    <li><a href="#business_process_process_indicator_assignments" data-toggle="tab"><%= t("activerecord.models.business_process_process_indicator_assignment.other") %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active well" id="description">
      <%= f.input_field :description, :as => :textile_editor, class: :broad %>
    </div>       
    <div class="tab-pane well" id="business_process_process_indicator_assignments">
      <%= f.simple_fields_for :business_process_process_indicator_assignments do |bppia| %>
        <% render 'business_process_process_indicator_assignment_fields', :f => bppia %>
      <% end %>
      <div class="links">
        <%= link_to_add_association t("helpers.add_assignment"), f, :business_process_process_indicator_assignments,
            :class => "controls btn btn-small btn-info" %>
      </div>
    </div> 
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                process_indicators_path, :class => 'btn' %>
  </div>

  <% content_for :javascript do %>
    <%= textile_editor_initialize %>
  <% end %>
<% end %>
