<%- model_class = FlowObject -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:flow_object_class) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:image_file_name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @flow_objects.each do |flow_object| %>
      <tr>
        <td><%= link_to flow_object.name, flow_object_path(flow_object) %></td>
        <td><%= flow_object.flow_object_class %></td>
        <td><%= symbol(flow_object) %></td>
        <td><%= flow_object.image_file_name %></td>
        <td>
          <%= link_to t('.edit', :default => icon("edit")),
                      edit_flow_object_path(flow_object), :class => 'btn btn-mini' if can? :edit, flow_object %>
          <%= link_to t('.destroy', :default => icon("trash")),
                      flow_object_path(flow_object),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' if can? :delete, flow_object %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new"), :model => model_class.model_name.human),
            new_flow_object_path,
            :class => 'btn btn-primary' if can? :new, FlowObject %>

<%= render "shared/datatables_helper" %>