<%- model_class = Department -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @department.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_id) %>:</strong></dt>
  <dd><%= @department.company.name %></dd>
</dl>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#users" data-toggle="tab"><%= t("activerecord.models.user.other") %></a></li>
  <li><a href="#business_processes" data-toggle="tab"><%= t("activerecord.models.business_process.other") %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active well" id="users">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%= model_class.human_attribute_name(:updated_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @department.users.each do |user| %>
          <tr>
            <td><%= link_to user.name, admin_user_path(user) %></td>
            <td><%=l user.created_at %></td>
            <td><%=l user.updated_at %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_admin_user_path(user), :class => 'btn btn-mini' if can? :edit, user %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          admin_user_path(user),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, user %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane well" id="business_processes">    
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:company_id) %></th>
          <th><%= model_class.human_attribute_name(:parent_id) %></th>
          <th><%= model_class.human_attribute_name(:number) %></th>
          <th><%= model_class.human_attribute_name(:owner_id) %></th>
          <th><%= model_class.human_attribute_name(:process_class_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @department.business_processes.each do |business_process| %>
          <tr>
            <td><%= link_to business_process.name, business_process_path(business_process) %></td>
            <td><%= truncate(business_process.company.name, length: 20) if business_process.company %></td>
            <td><%= business_process.parent.name if business_process.parent %></td>
            <td><%= business_process.number %></td>
            <td><%= business_process.owner.shortname if business_process.owner %></td>
            <td><%= business_process.process_class.name if business_process.process_class %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_business_process_path(business_process), :class => 'btn btn-mini' if can? :edit, business_process %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          business_process_path(business_process),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, business_process %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              departments_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_department_path(@department), :class => 'btn' if can? :edit, @department %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              department_path(@department),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :delete, @department%>
</div>
<%= render "shared/datatables_helper" %>