<%- model_class = UserRoleInCompanyAssignment -%>
<%= bootstrap_error(@user_role_in_company_assignment, model_class ) %>

<%= simple_form_for @user_role_in_company_assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :user, :collection => User.in_company(current_company.id) %>
  <%= f.association :role_in_company, :collection => RoleInCompany.where(:company_id => current_company.id) %>
  <%= company_field(@user_role_in_company_assignment, f) %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_role_in_company_assignments_path, :class => 'btn' %>
  </div>
<% end %>
