<%- model_class = ProcessStep -%>
<%= bootstrap_error(@process_step, model_class ) %>

<%= simple_form_for @process_step, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :company_id %>
  <%= f.input :description %>
  <%= f.input :type_id %>
  <%= f.input :business_process_id %>
  <%= f.input :created_by %>
  <%= f.input :updated_by %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                process_steps_path, :class => 'btn' %>
  </div>
<% end %>
