<%- model_class = ProcessStep -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @process_step.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:flow_object) %>:</strong></dt>
  <dd><%= symbol(@process_step) %> <%= @process_step.flow_object.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:business_process_id) %>:</strong></dt>
  <dd><%= @process_step.business_process.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= created(@process_step) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_by) %>:</strong></dt>
  <dd><%= updated(@process_step) %></dd>
</dl>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#description" data-toggle="tab"><%= model_class.human_attribute_name(:description) %></a></li>
  <li><a href="#outgoing_sequence_flows" data-toggle="tab"><%= t("activerecord.models.outgoing_sequence_flow") %></a></li>
  <li><a href="#incoming_sequence_flows" data-toggle="tab"><%= t("activerecord.models.incoming_sequence_flow") %></a></li>
  <li><a href="#instruction" data-toggle="tab"><%= t("activerecord.models.instruction.other") %></a></li>
  <li><a href="#notes" data-toggle="tab"><%= t("activerecord.models.note.other") %></a></li>
  <li><a href="#documents" data-toggle="tab"><%= t("activerecord.models.document.other") %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active well" id="description">
    <%= textile(@process_step.description) %>
  </div>

  <div class="tab-pane well" id="outgoing_sequence_flows">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:business_process_id) %></th>
          <th><%= model_class.human_attribute_name(:created_by) %></th>
          <th><%= model_class.human_attribute_name(:updated_by) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @process_step.successors.each do |process_step| %>
          <tr>
            <td><%= link_to process_step.title, process_step_path(process_step) %></td>
            <td><%= process_step.business_process.name %></td>
            <td><%= process_step.creator.shortname %></td>
            <td><%= process_step.updator.shortname %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_process_step_path(process_step), :class => 'btn btn-mini' if can? :edit, process_step %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          process_step_path(process_step),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, process_step %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane well" id="incoming_sequence_flows">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:business_process_id) %></th>
          <th><%= model_class.human_attribute_name(:created_by) %></th>
          <th><%= model_class.human_attribute_name(:updated_by) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @process_step.predecessors.each do |process_step| %>
          <tr>
            <td><%= link_to process_step.title, process_step_path(process_step) %></td>
            <td><%= process_step.business_process.name %></td>
            <td><%= process_step.creator.shortname %></td>
            <td><%= process_step.updator.shortname %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_process_step_path(process_step), :class => 'btn btn-mini' if can? :edit, process_step %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          process_step_path(process_step),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, process_step %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane well" id="instruction">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th>PDF</th>
          <th><%= model_class.human_attribute_name(:number) %></th>
          <th><%= model_class.human_attribute_name(:created_by) %></th>
          <th><%= model_class.human_attribute_name(:in_charge) %></th>
          <th><%= model_class.human_attribute_name(:scope) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @process_step.instructions.each do |instruction| %>
          <tr>
            <td><%= link_to instruction.title, instruction_path(instruction)%></td>
            <td><%= link_to "PDF", instruction_path(instruction, :format => "pdf")%></td>
            <td><%= instruction.number %></td>
            <td><%= instruction.creator.name %></td>
            <td><%= instruction.in_charge.name if instruction.in_charge %></td>
            <td><%= instruction.scope.name if instruction.scope %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_instruction_path(instruction), :class => 'btn btn-mini' if can? :edit, instruction %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          instruction_path(instruction),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, instruction %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane well" id="notes">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @process_step.notes.each do |note| %>
          <tr>
            <td><%= link_to note.name, note_path(note) %></td>
            <td><%=l note.created_at %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_note_path(note), :class => 'btn btn-mini' if can? :edit, note %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          note_path(note),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, note %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane well" id="documents">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:internal) %></th>
          <th><%= model_class.human_attribute_name(:attachment) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @process_step.documents.each do |document| %>
          <tr>
            <td><%= link_to document.name, document_path(document) %></td>
            <td><%= checkbox(document.internal) %></td>
            <td><%= document.attachment.file.filename if document.attachment.file %></td>
            <td><%=l document.created_at %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_document_path(document), :class => 'btn btn-mini' if can? :edit, document %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          document_path(document),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, document %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              process_steps_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_process_step_path(@process_step), :class => 'btn' if can? :edit, @process_step %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              process_step_path(@process_step),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :delete, @process_step %>
</div>
<%= render "shared/datatables_helper" %>