<%- model_class = BusinessProcessDocumentAssignment -%>
<%= bootstrap_error(@business_process_document_assignment, model_class ) %>

<%= simple_form_for @business_process_document_assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :business_process_id, :collection => BusinessProcess.where(:company_id => current_company.id) %>
  <%= f.input :document_id, :collection => Document.where(:company_id => current_company.id) %>

<% if @business_process_document_assignment.company_id %>
    <%= f.association :company, :disabled => true %>
  <% else %>
    <%= f.association :company, :disabled => true, :selected => current_company.id %>
    <%= f.hidden_field :company_id, :value => current_company.id %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                business_process_document_assignments_path, :class => 'btn' %>
  </div>
<% end %>
