<%- model_class = Document -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @document.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:internal) %>:</strong></dt>
  <dd><%= checkbox(@document.internal) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:controlled_by) %>:</strong></dt>
  <dd><%= @document.controlled_by.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:released_by) %>:</strong></dt>
  <dd><%= @document.released_by.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attachment) %>:</strong></dt>
  <dd><%= link_to( @document.attachment.file.filename, download_document_path ) if @document.attachment.file %></dd>
</dl>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#description" data-toggle="tab">*<%= model_class.human_attribute_name(:description) %></a></li>
  <li><a href="#instuctions" data-toggle="tab"><%= t("activerecord.models.instruction.other") %></a></li>
  <li><a href="#business_processes" data-toggle="tab"><%= t("activerecord.models.business_process.other") %></a></li>
  <li><a href="#process_steps" data-toggle="tab"><%=  t("activerecord.models.process_step.other") %></a></li>
  <li><a href="#versions" data-toggle="tab"><%= t("helpers.versions") %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active well" id="description">
    <%= textile(@document.description) %>
  </div>
  <div class="tab-pane well" id="instuctions">
    <table class="table table-striped datatable">
      <thead>
        <tr>      
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th>PDF</th>
          <th><%= model_class.human_attribute_name(:number) %></th>
          <th><%= model_class.human_attribute_name(:created_by) %></th>
          <th><%= model_class.human_attribute_name(:in_charge) %></th>
          <th><%= model_class.human_attribute_name(:scope) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @document.instructions.each do |instruction| %>
          <tr>        
            <td><%= link_to instruction.title, instruction_path(instruction)%></td>
            <td><%= link_to "PDF", instruction_path(instruction, :format => "pdf")%></td>
            <td><%= instruction.number %></td>
            <td><%= instruction.creator.name %></td>
            <td><%= instruction.in_charge.name if instruction.in_charge %></td>
            <td><%= instruction.scope.name if instruction.scope %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_instruction_path(instruction), :class => 'btn btn-mini' if can? :edit, instruction %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          instruction_path(instruction),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, instruction %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane well" id="business_processes">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:parent_id) %></th>
          <th><%= model_class.human_attribute_name(:number) %></th>
          <th><%= model_class.human_attribute_name(:owner_id) %></th>
          <th><%= model_class.human_attribute_name(:process_class_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @document.business_processes.each do |business_process| %>
          <tr>
            <td><%= link_to business_process.name, business_process_path(business_process) %></td>
            <td><%= business_process.parent.name if business_process.parent %></td>
            <td><%= business_process.number %></td>
            <td><%= business_process.owner.shortname if business_process.owner %></td>
            <td><%= business_process.process_class.name if business_process.process_class %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_business_process_path(business_process), :class => 'btn btn-mini' if can? :edit, business_process %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          business_process_path(business_process),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, business_process %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane well" id="process_steps">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:business_process_id) %></th>
          <th><%= model_class.human_attribute_name(:created_by) %></th>
          <th><%= model_class.human_attribute_name(:updated_by) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @document.process_steps.each do |process_step| %>
          <tr>
            <td><%= link_to process_step.title, process_step_path(process_step) %></td>
            <td><%= process_step.business_process.name %></td>
            <td><%= process_step.creator.shortname %></td>
            <td><%= process_step.updator.shortname %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_process_step_path(process_step), :class => 'btn btn-mini' if can? :edit, process_step %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          process_step_path(process_step),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, process_step %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>    
  <%= versioning_helper(@document) %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              documents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_document_path(@document), :class => 'btn' if can? :edit, @document %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              document_path(@document),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :delete, @document %>
</div>
<%= render "shared/datatables_helper" %>