<%- model_class = RoleInCompany -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @role_in_company.name %></dd>
</dl>
  
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#description" data-toggle="tab"><%= model_class.human_attribute_name(:description) %></a></li>
  <li><a href="#users" data-toggle="tab"><%= t("activerecord.models.user.other") %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active well" id="description">
    <%= textile(@role_in_company.description) %>
  </div>

  <div class="tab-pane well" id="users">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%= model_class.human_attribute_name(:updated_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @role_in_company.users.each do |user| %>
          <tr>
            <td><%= link_to user.name, admin_user_path(user) %></td>
            <td><%=l user.created_at %></td>
            <td><%=l user.updated_at %></td>
            <td>
              <%= link_to t('.edit', :default => icon("edit")),
                          edit_admin_user_path(user), :class => 'btn btn-mini' if can? :edit, user %>
              <%= link_to t('.destroy', :default => icon("trash")),
                          admin_user_path(user),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' if can? :delete, user %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              roles_in_company_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_role_in_company_path(@role_in_company), :class => 'btn' if can? :edit, @role_in_company %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              role_in_company_path(@role_in_company),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :delete, @role_in_company %>
</div>
