<div class="hero-unit">
  <h1 class="icon-check"> QM.mittenin.at</h1>
  <p>Zählen sie zu den Ersten, die ihre Prozesse managen, ohne sich die Haare zu raufen.
    QM ist Qualitätsmanagement, das Ihnen nicht in die Quere kommt und zu dem sie nichts benötigen außer einen Webbrowser.<br>
    Beginnen Sie noch heute und probieren sie QM ohne Initialkosten aus!</p>
</div>

<%= bootstrap_error(@submission, Submission ) %>

<div class="row-fluid">
  <div class="span3">
    <br/><h2> <%= icon("pencil")%> <%= t('.sign_in', :default => "Sign in") %></h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %>
      <%= f.email_field :email %></div>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit t('.sign_in', :default => "Sign in") %></div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>

  <div class="span3">
    <br/><h2> <%= icon("pencil")%> Registrieren</h2>
    <%= form_for(@submission) do |f| %>
      <% if notice %>
        <div class="info">
          <div class="msg-box-icon">
            <%= notice %>
          </div>
        </div>
      <% end %>
      <div>
        <label for="contact_name">Name <em>*</em></label>
        <%= f.text_field :name %>
      </div>
      <div>
        <label for="contact_email">E-Mail <em>*</em></label>
        <%= f.text_field :email %>
      </div>
      <div>
        <label for="contact_message">Ihre Nachricht </label>
        <%= f.text_area :message, :cols => "70", :rows => "7" %>
      </div>
      <div>
        <label for="answer">Was ist 3 plus 5? <em>*</em></label>
        <%= f.text_field :answer %>
      </div>
      <div>
        <%= f.submit "Senden", :class => "submit" %>
      </div>
    <% end %>
  </div>


  <div class="span3">
    <br/><h2><%= icon("group")%> Administration </h2>
    <p>QM lässt Sie die wesentlichen Organisationseinheiten Ihrer Firma verwalten:</p>

    <p>Aus den <%= icon_("group") + t("activerecord.models.department.other") %> und
    <%= icon_("bullhorn") + t("activerecord.models.function.other") %> der
    <%= icon_("home") + t("activerecord.models.company.one") %> erstellen Sie ein
    <%= icon_("sitemap") + t("organigram") %>, das Ihnen nebenbei die weitere Navigation erleichtert.</p>

    <p>Den <%= icon_("user") + t("activerecord.models.user.other") %> weisen Sie in
    der Firma <%= icon_("tags") + t("activerecord.models.role_in_company.other") %>,
    <%= icon_("group") + t("activerecord.models.department.other") %> und
    <%= icon_("bullhorn") + t("activerecord.models.function.other") %> zu,
    in der Applikation <%= icon_("cogs") + t("activerecord.models.role.other") %>.</p>

    <p>Über Neuentwickungen in der Applikation werden Sie bei der Anmeldung in Form von
    <%= icon_("gift") + t("activerecord.models.news.other") %> benachrichtigt.</p>
  </div>

  <div class="span3">
    <br/><h2><%= icon_("road") %> Geschäftsprozesse</h2>

    <p>Die einzenen <%= icon_("check-empty") + t("activerecord.models.process_step.other") %>
    verbinden Sie mittels der <%= icon_("picture") + t("activerecord.models.flow_object.other") %>
    zu <%= icon_("road") + t("activerecord.models.business_process.other") %>.</p>

    <p>Entsprechend der zugewieenen <%= icon_("globe") + t("activerecord.models.process_class.other") %>
    erscheinen Sie dann im <%= icon_("sitemap") + t("helpers.links.process_modell") %> und in den
    <%= icon_("sitemap") %> Prozessdiagrammen in der richtigen Farbe. </p>

    <p>Den <%= icon_("road") + t("activerecord.models.business_process.other") %> weisen Sie
    <%= icon_("dashboard") + t("activerecord.models.process_indicator.other") %>,
    <%= icon_("envelope-alt") + t("activerecord.models.note.other") %>,
    <%= icon_("envelope") + t("activerecord.models.document.other") %> und
    <%= icon_("group") + t("activerecord.models.department.other") %> zu.</p>

    <p>Den <%= icon_("check-empty") + t("activerecord.models.process_step.other") %>  ordnen Sie
    <%= icon_("legal") + t("activerecord.models.instruction.other") %>,
    <%= icon_("envelope-alt") + t("activerecord.models.note.other") %> und
    <%= icon_("envelope") + t("activerecord.models.document.other") %> zu.</p>

    <p><strong>Und fertig ist Ihr Qualitätshandbuch!</strong></p>
  </div>
</div>