<%- model_class = BusinessProcess -%>
<div class="page-header">
  <h1><%=t '.title', :default => t("helpers.process_modell") + " " + @business_process.name %></h1>
</div>

<div class="hero-unit" style="height: 400px;">
  <% @business_process.children.each do |bp| %>
  <div class="btn btn <%= btnclass(bp.process_class.color) %> process" , id="<%= bp.id %>">
      <%= link_to icon("sitemap"), diagram_business_process_path(bp) %>
      <%= link_to icon("reorder"), business_process_path(bp) %>
      <%= bp.name %>
  </div>
  <% end %>
</div>

<div class="form-actions">
  <% if @business_process.parent %>
    <%= link_to t('.back', :default => (icon("arrow-up") + t("helpers.links.process_diagram"))),
                diagram_business_process_path(@business_process.parent), :class => 'btn' %>
  <% end %>
  <%= link_to t('.edit', :default => t("helpers.links.process_edit")),
              edit_business_process_path(@business_process), :class => 'btn' %>
  <%= link_to t('.edit', :default => t("helpers.links.reset")),
              reset_business_process_path(@business_process), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              business_process_path(@business_process),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<% content_for :javascript do %>
  <script>
	  $(function() {
		  $( ".process" ).draggable({ grid: [ 25,25 ] });
		  $( ".process" ).bind( "dragstop", function(event, ui) {
        $.ajax({
          url: "/business_processes/<%= @business_process.id %>/diagram.js",
          type: "POST",
          data: {coords: {
            id: this.id,
            x: ui.offset.left,
            y: ui.offset.top }},
     	  });
  	  });
 	    <% @business_process.children.each do |bp| %>
     	  $("#<%= bp.id %>").offset({left: <%= bp.x || 500 %>, top: <%= bp.y || 200 %>});
    	<% end %>
  	});
  </script>
<% end %>
